<a href="https://colab.research.google.com/github/seanirmaai/Sean-AlgoritmaPemrograman/blob/Penugasan-Bab-E/Jobsheet_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Praktikum 01 - Pengenalan Variabel dan Tipe Data**

In [5]:
# Integer
umur = 100
print("Umur:", umur, "→", type(umur))

# Float
tinggi = 170.5
print("Tinggi:", tinggi, "→", type(tinggi))

# String
nama = "Sean"
print("Nama:", nama, "→", type(nama))

# Boolean
is_mahasiswa = True
print("Status Mahasiswa:", is_mahasiswa, "→", type(is_mahasiswa))

# List
nilai = [80, 85, 90]
print("Nilai:", nilai, "→", type(nilai))

# Tuple
koordinat = (10,20)
print("Koordinat:", koordinat, "→", type(koordinat))

# Dictionary
mahasiswa = {"nama": "Sean", "umur": "100", "prodi": "TRK"}
print("Data Mahasiswa:", mahasiswa, "→", type(mahasiswa))

# Set
hobi = {"membaca", "olahraga", "musik"}
print("Hobi:", hobi, "→", type(hobi))

Umur: 100 → <class 'int'>
Tinggi: 170.5 → <class 'float'>
Nama: Sean → <class 'str'>
Status Mahasiswa: True → <class 'bool'>
Nilai: [80, 85, 90] → <class 'list'>
Koordinat: (10, 20) → <class 'tuple'>
Data Mahasiswa: {'nama': 'Sean', 'umur': '100', 'prodi': 'TRK'} → <class 'dict'>
Hobi: {'olahraga', 'membaca', 'musik'} → <class 'set'>

In [ ]:
# Float
tinggi = 170.5
print("Tinggi:", tinggi, "→", type(tinggi))

Tinggi: 170.5 → <class 'float'>

In [2]:
# String
nama = "Sean"
print("Nama:", nama, "→", type(nama))

Nama: Sean → <class 'str'>

In [ ]:
# Boolean
is_mahasiswa = True
print("Status Mahasiswa:", is_mahasiswa, "→", type(is_mahasiswa))

Status Mahasiswa: True → <class 'bool'>

In [ ]:
# List
nilai = [80, 85, 90]
print("Nilai:", nilai, "→", type(nilai))

Nilai: [80, 85, 90] → <class 'list'>

In [ ]:
# Tuple
koordinat = (10,20)
print("Koordinat:", koordinat, "→", type(koordinat))

Koordinat: (10, 20) → <class 'tuple'>

In [1]:
# Dictionary
mahasiswa = {"nama": "Sean", "umur": "15", "prodi": "TRK"}
print("Data Mahasiswa:", mahasiswa, "→", type(mahasiswa))

Data Mahasiswa: {'nama': 'Sean', 'umur': '15', 'prodi': 'TRK'} → <class 'dict'>

In [ ]:
# Set
hobi = {"membaca", "olahraga", "musik"}
print("Hobi:", hobi, "→", type(hobi))

Hobi: {'olahraga', 'membaca', 'musik'} → <class 'set'>

**Praktikum 02 – Input dan Output Dasar**

In [ ]:
# Input Stirng
nama = input("Masukkan nama anda: ")

# Input integer
umur = int(input("Masukkan umur anda: "))

# Input float
tinggi = float(input("Masukkan tinggi badan (cm): "))

# Output standar
print("Halo,", nama, "umur anda:", umur, "tahun, tinggi:", tinggi, "cm" )

# Output dengan format()
print("Halo, {0}, umur anda {1} tahun, tinggi {2} cm".format(nama, umur, tinggi))

# Output dengan f-string
print(f"Halo {nama}, umur anda {umur} tahun, tinggi {tinggi} cm")

Masukkan nama anda: bubi
Masukkan umur anda: 16
Masukkan tinggi badan (cm): 180
Halo, bubi umur anda: 16 tahun, tinggi: 180.0 cm
Halo, bubi, umur anda 16 tahun, tinggi 180.0 cm
Halo bubi, umur anda 16 tahun, tinggi 180.0 cm

In [ ]:
# Input integer
umur = int(input("Masukkan umur anda: "))

Masukkan umur anda: 29

In [ ]:
# Input float
tinggi = float(input("Masukkan tinggi badan (cm): "))

Masukkan tinggi badan (cm): 180

In [ ]:
# Output standar
print("Halo,", nama, "umur anda:", umur, "tahun, tinggi:", tinggi, "cm" )

Halo, aku se umur anda: 29 tahun, tinggi: 180.0 cm

In [ ]:
# Output dengan format()
print("Halo, {0}, umur anda {1} tahun, tinggi {2} cm".format(nama, umur, tinggi))

Halo, aku se, umur anda 29 tahun, tinggi 180.0 cm

In [ ]:
# Output dengan f-string
print(f"Halo {nama}, umur anda {umur} tahun, tinggi {tinggi} cm")

Halo aku se, umur anda 29 tahun, tinggi 180.0 cm

**Praktikum 03 - Operator Aritmatika**

In [ ]:
a = 15
b = 4

print("a + b =", a + b)
print("a - b =", a - b)
print("a * b =", a * b)
print("a / b =", a / b)
print("a // b =", a // b)
print("a % b =", a % b)
print("a ** b =", a ** b)

a + b = 19
a - b = 11
a * b = 60
a / b = 3.75
a // b = 3
a % b = 3
a ** b = 50625

**Praktikum 04 - Operator Relasional**

In [ ]:
x = 10
y = 20

print("x == y :", x == y)
print("x != y :", x != y)
print("x < y :", x < y)
print("x > y :", x > y)
print("x <= y :", x <= y)
print("x >= y :", x >= y)

# Dalam kehidupan nyata, operator relasional bisa dipakai untuk mengecek apakah nilai ujian > 60, atau apakah kehadiran mahasiswa memenuhi batas minimal

x == y : False
x != y : True
x < y : True
x > y : False
x <= y : True
x >= y : False

**Praktikum 05 - Operator Logika dengan Studi Kasus Nyata**

In [ ]:
# Operator logika dasar
a = True
b = False

print("a and b =", a and b)
print("a or b =", a or b)
print("not a =", not a)

# Studi kasus nyata: kelulusan
nilai = int(input("Masukkan nilai ujian: "))
hadir = int(input("Masukkan jumlah kehadiran: "))

lulus_nilai = nilai >= 60
lulus_hadir = hadir >= 12 # dari 16 pertemuan

if lulus_nilai and lulus_hadir:
  print("Status: LULUS")
else:
  print("Status: TIDAK LULUS")

a and b = False
a or b = True
not a = False
Masukkan nilai ujian: 90
Masukkan jumlah kehadiran: 9
Status: TIDAK LULUS

**Praktikum 06 - Program Kasir Sederhana**

In [ ]:
barang = input("Masukkan nama barang: ")
harga = float(input("Masukkan harga barang: "))
jumlah = int (input("Masukkan jumlah barang: "))

total = harga * jumlah

# Aturan diskon
if total >= 500000:
  diskon = 0.2
elif total >= 250000:
  diskon = 0.1
else:
  diskon = 0

potongan = total * diskon
bayar = total - potongan

print("\n===== Struk Belanja =====")
print(f"Barang: {barang}")
print(f"Jumlah: {jumlah}")
print(f"Total: Rp {total}")
print(f"Diskon: {diskon * 100}%")
print(f"Bayar: Rp {bayar}")

Masukkan nama barang: ubi
Masukkan harga barang: 120000
Masukkan jumlah barang: 9

===== Struk Belanja =====
Barang: ubi
Jumlah: 9
Total: Rp 1080000.0
Diskon: 20.0%
Bayar: Rp 864000.0

**PENUGASAN**

**Identitas Mahasiswa**

In [6]:
nama = input("Masukkan nama Anda: ")
umur = int(input("Masukkan umur Anda: "))
tinggi = float(input("Masukkan tinggi badan (cm): "))
status_aktif = bool(int(input("Apakah Anda mahasiswa aktif? (1 = Ya, 0 = Tidak): ")))

print("\n===== Data Mahasiswa =====")
print(f"Nama           : {nama}")
print(f"Umur           : {umur} tahun")
print(f"Tinggi Badan   : {tinggi} cm")
print(f"Status Aktif   : {status_aktif}")

Masukkan nama Anda: sean
Masukkan umur Anda: 16
Masukkan tinggi badan (cm): 169
Apakah Anda mahasiswa aktif? (1 = Ya, 0 = Tidak): 1

===== Data Mahasiswa =====
Nama           : sean
Umur           : 16 tahun
Tinggi Badan   : 169.0 cm
Status Aktif   : True

**Operasi Aritmatika**

In [ ]:
bil1 = int(input("Masukkan bilangan pertama: "))
bil2 = int(input("Masukkan bilangan kedua: "))

print("\n===== Hasil Operasi Aritmatika =====")
print(f"Penjumlahan (+)  : {bil1 + bil2}")
print(f"Pengurangan (-)  : {bil1 - bil2}")
print(f"Perkalian (×)    : {bil1 * bil2}")
print(f"Pembagian (/)    : {bil1 / bil2}")
print(f"Sisa Bagi (%)    : {bil1 % bil2}")
print(f"Pangkat (**)     : {bil1 ** bil2}")

Masukkan bilangan pertama: 9
Masukkan bilangan kedua: 12

===== Hasil Operasi Aritmatika =====
Penjumlahan (+)  : 21
Pengurangan (-)  : -3
Perkalian (×)    : 108
Pembagian (/)    : 0.75
Sisa Bagi (%)    : 9
Pangkat (**)     : 282429536481

**Konversi Nilai**

In [4]:
nilai = float(input("Masukkan nilai desimal Anda: "))

print("\n===== Hasil Konversi Nilai =====")
print(f"Nilai dalam bentuk integer : {int(nilai)}")
print(f"Nilai dalam bentuk string  : {str(nilai)}")
print(f"Nilai dibulatkan 2 digit   : {round(nilai, 2)}")

Masukkan nilai desimal Anda: 9.4

===== Hasil Konversi Nilai =====
Nilai dalam bentuk integer : 9
Nilai dalam bentuk string  : 9.4
Nilai dibulatkan 2 digit   : 9.4

**Operator Relasional**

In [ ]:
bil1 = int(input("Masukkan bilangan pertama: "))
bil2 = int(input("Masukkan bilangan kedua: "))

print("\n===== Hasil Perbandingan =====")
print(f"{bil1} == {bil2} : {bil1 == bil2}")
print(f"{bil1} != {bil2} : {bil1 != bil2}")
print(f"{bil1} > {bil2}  : {bil1 > bil2}")
print(f"{bil1} < {bil2}  : {bil1 < bil2}")
print(f"{bil1} >= {bil2} : {bil1 >= bil2}")
print(f"{bil1} <= {bil2} : {bil1 <= bil2}")

Masukkan bilangan pertama: 90
Masukkan bilangan kedua: 76

===== Hasil Perbandingan =====
90 == 76 : False
90 != 76 : True
90 > 76  : True
90 < 76  : False
90 >= 76 : True
90 <= 76 : False